:root {
  /* Color Palette */
  --tea-green: #ccd5ae;
  --beige: #e9edc9;
  --cornsilk: #fefae0;
  --papaya-whip: #faedcd;
  --buff: #d4a373;

  /* Gradients */
  --gradient-top: linear-gradient(0deg, var(--tea-green), var(--beige), var(--cornsilk), var(--papaya-whip), var(--buff));
  --gradient-right: linear-gradient(90deg, var(--tea-green), var(--beige), var(--cornsilk), var(--papaya-whip), var(--buff));
  --gradient-bottom: linear-gradient(180deg, var(--tea-green), var(--beige), var(--cornsilk), var(--papaya-whip), var(--buff));
  --gradient-left: linear-gradient(270deg, var(--tea-green), var(--beige), var(--cornsilk), var(--papaya-whip), var(--buff));
  --gradient-top-right: linear-gradient(45deg, var(--tea-green), var(--beige), var(--cornsilk), var(--papaya-whip), var(--buff));
  --gradient-bottom-right: linear-gradient(135deg, var(--tea-green), var(--beige), var(--cornsilk), var(--papaya-whip), var(--buff));
  --gradient-top-left: linear-gradient(225deg, var(--tea-green), var(--beige), var(--cornsilk), var(--papaya-whip), var(--buff));
  --gradient-bottom-left: linear-gradient(315deg, var(--tea-green), var(--beige), var(--cornsilk), var(--papaya-whip), var(--buff));
  --gradient-radial: radial-gradient(var(--tea-green), var(--beige), var(--cornsilk), var(--papaya-whip), var(--buff));
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
